.SingleMovieItem {
  width: 190px;
  height: 280px;
  // border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    transition: all 0.2;
    transform: scale(1.02);
    -webkit-box-shadow:0px 3px 3px #c8c8c8 ;
    -moz-box-shadow:0px 3px 3px #c8c8c8 ;
    box-shadow:0px 3px 3px #c8c8c8 ;
  }
  img {
    width: 170px;
    height: 220px;
  }
  span {
    font-size: 14px;
    line-height: 30px;
    color: #000;
  }
  .movieStar {
    ul {
      margin-right: 5px;
      li {
        margin-right: 2px;
      }
    }
    span {
      line-height: 0;
      font-size: 12px;
      color: rgb(244, 174, 75);
    }
  }
}