@import './Mixin.scss';
.TopMovie {
  .TopMovieWord {
    @include movieTitle
  }
  .TopMovieList {
    // border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    width: 1132px;
    flex-wrap: wrap;
    height: 700px;
  }
}